body {
    background-color: #1f1e33;
    color: white;
    text-align: center;
    font-family: "Comic Sans MS", serif;
}
h1 {
    color: #6900ff;
}
p {
    color: #6900ff;
}

.block {
    background-color: black;
    border: 3px solid #6900ff;

    color: black;

    margin-left: auto;
    margin-right: auto;

    width: 50%;
}